{% extends 'base.html' %}}
{% load guardian_tags %}
{% load static %}
{% block content %}

<div class="container text-center" style="width: 75%;">
    <h3 style="border-bottom: 1px solid #ccc">2021</h3>
    <canvas class="actions-chart" id="actions-bar-chart" data-url="{% url 'counter:populate_graphs' %}"></canvas>
    <div class="dropdown-divider"></div>
    <canvas class="actions-chart" id="actions-line-chart" data-url="{% url 'counter:populate_graphs' %}"></canvas>
</div>



<script>

    var $actionsChart = $("#actions-bar-chart");
    graph_data = "";
    options = {
        responsive: true,
        plugins: {
            labels: {
                render: 'value'
            }
        }
    }

    $(function () {
      $.ajax({
        url: $actionsChart.data("url"),
        success: function (data) {
              graph_data = data;
              populateGraph('actions-bar-chart', 'bar')
              populateGraph('actions-line-chart', 'line')

        }
      });
    });

    function populateGraph(graphId, graphType) {
        var graph = document.getElementById(graphId);
        var ctx = graph.getContext("2d");
        new Chart(ctx, {
            type: graphType,
            data: {
              labels: graph_data.labels,
              datasets: graph_data.datasets,
            },
            options: options
        });
    }


  </script>



{% endblock %}}