{% extends 'base.html' %}}
{% load guardian_tags %}
{% load static %}
{% block content %}

<div class="container">
<div class="card-columns">
    {% if actions %}
    {% for action in actions %}
    <div class="card bg-light">
        <div class="card-body text-center">
            <a class="card-text stretched-link text-decoration-none" href="{% url 'counter:info' action.id %}">{{ action.name }}</a>
            <p>{{ action.get_count }}</p>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="card bg-light">
    <div class="card-body text-center">
      <p class="card-text">No actions</p>
    </div>
  </div>
    {% endif %}
</div>
</div>

<div class="dropdown-divider"></div>

<div class="container" style="width: 75%;">
    <canvas id="actions-chart" data-url="{% url 'counter:populate_actions_chart' %}"></canvas>
</div>


<script>
    $(function () {

      var $actionsChart = $("#actions-chart");
      $.ajax({
        url: $actionsChart.data("url"),
        success: function (data) {

          var ctx = $actionsChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'doughnut',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Actions',
                data: data.data
              }]
            },
            options: {
                responsive: true,
                plugins: {
                    labels: [{
                        render: 'label',
                        fontColor: '#000',
                        position: 'outside'
                        },
                        {
                            render: 'value'
                        }]
                }
            }
          }).update();

        }
      });

    });

  </script>



{% endblock %}}