{% extends 'base.html' %}}
{% load guardian_tags %}
{% load static %}
{% block content %}

<div class="container">
<div class="card-columns">
    {% if actions %}
    {% for action in actions %}
    <div class="card bg-light">
        <div class="card-body text-center">
            <a class="card-text stretched-link text-decoration-none" href="{% url 'counter:info' action.id %}">{{ action.name }}</a>
            <p>{{ action.get_latest }} - {{ action.get_count }}</p>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="card bg-light">
    <div class="card-body text-center">
      <p class="card-text">No actions</p>
    </div>
  </div>
    {% endif %}
</div>
</div>


{% endblock %}}