{% extends "base.html" %}
{% load guardian_tags %}
{% block title %}{{ action }}{% endblock %}


{% block content %}

{{ request.user }}</br>
{{ action }} : {{ count }}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{% get_obj_perms request.user for action as "action_perms" %}
{{ action_perms }}
{% if "change_action" in action_perms %}
<form action="{% url 'counter:add' action.id %}" method="post">
    {% csrf_token%}
    <input type="submit" value="+1">
{% endif %}

</form>
{% endblock %}}