{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}



<div class="login-form" >
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <h2 class="text-center">Log in</h2>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" required="required" id="id_username" name="username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" required="required" id="id_password" name="password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" value="login">Log in</button>
        </div>
        <div class="clearfix">
            <!-- TODO: implement  <label class="float-left form-check-label"><input type="checkbox"> Remember me</label> -->
            <!-- TODO: implement <a href="#" class="float-right">Forgot Password?</a> -->
        </div>
    </form>
    <!-- TODO: implement  <p class="text-center"><a href="#" clas="btn">Create an Account</a></p> -->
</div>
<div><a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a></div>
<div><a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a></div>
<div><a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a></div>


{% endblock %}